
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';


/* 
 * ----------------------------
 * Common CSS
 * ----------------------------
 */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body {
  font-family: Poppins,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

ul {
  margin: 0
}

button, input[type=button] {
  cursor: pointer
}

  button:focus, input:focus {
    outline: 0
  }

input {
  border: none
}

button {
  border: none;
  background: 0 0
}

img {
  max-width: 100%;
  height: auto
}

p {
  margin: 0
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 700;
  margin: 0;
  line-height: 1.2
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 18px
}

h5 {
  font-size: 15px
}

h6 {
  font-size: 13px
}

a {
  display: inline-block
}

  a:active, a:focus, a:hover {
    text-decoration: none;
    outline: 0
  }

  a, a:hover {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
  }

/*Layout Css*/
.section-content-p35 {
  padding: 0 35px
}

.page-wrapper {
  overflow: hidden;
  background: #e5e5e5;
  padding-bottom: 8vh
}

.page-container {
  background: #e5e5e5;
  padding-left: 200px
}

.main-content {
  padding-top: 40px;
  min-height: 100vh
}


.number {
  padding: 6px 0
}

.arrows i {
  font-size: 30px;
  padding: 4px 4px
}

section {
  position: relative
}

.section-content {
  position: relative;
  margin: 0 auto;
  z-index: 1
}

.section-content-p30 {
  padding: 0 30px
}

/* 
 * ----------------------------
 * search section
 * ----------------------------
 */
.form-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}

.au-btn-submit {
  position: relative;
  right: 0;
  min-width: 95px;
  color: #fff;
  border: 1px solid #205b8d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 43px;
  background: #205b8d
}

  .au-btn-submit:hover {
    background: #05143f
  }

  .au-btn-submit > i {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
  }

/* 
 * ----------------------------
 * cart section
 * ----------------------------
 */
.badge {
  padding-left: 13px;
  padding-right: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

#lblCartCount {
  font-size: 16px;
  background-color: darkgreen;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

/* 
 * ----------------------------
 * Shopping Cart Details
 * ----------------------------
 */

.table {
  margin: 0
}

table.table.table-bordered {
  border: 1px solid #ccc;
  background: #fff
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6
}

table.table.table-bordered th {
  BACKGROUND: #0da8e4;
  color: #fff;
  font-size: 14px;
  padding: 7px
}

.table-responsive {
  padding-right: 1px
}

.items select {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: 0;
  margin-left: 5px
}


/* 
 * ----------------------------
 * Checkout
 * ----------------------------
 */

.form-area {
  background: #e5e5e5;
  position: relative;
  margin-bottom: 45px;
  padding: 50px 20px;
  border: 2px solid #ccc;
  width: 50%;
}

  .form-area h3 {
    position: absolute;
    top: -26px;
    left: 13px;
    background: #e5e5e5;
    padding: 10px 20px;
    font-weight: 500;
    z-index: 23;
    display: inline-block
  }

.input-space {
  margin-bottom: 20px
}

  .input-space label {
    padding-left: 31px;
    font-size: 14px;
    margin-bottom: 50px
  }

  .input-space input[type=text] {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    padding: 10px;
    border: 1px solid #ccc
  }

  .input-space select {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    padding: 0 10px;
    border: 1px solid #ccc
  }

.au-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

  .au-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer
  }

.au-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #fff !important;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px
}

/* 
 * ----------------------------
 * Product Details
 * ----------------------------
 */

.price {
  margin: 15px 0 0;
  font-weight: 800;
  color: #0da8e4
}

.detail-section {
  margin-top: 60px;
}

.detail-img {
  width: 30%;
}
/**/

/* 
 * ----------------------------
 * Buttons
 * ----------------------------
 */

.btn-info {
  color: #fff;
  background-color: #0da8e4 !important;
  border-color: #0da8e4 !important
}

a.primary-btn {
  background: #05143f;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  margin-top: 5px
}

  a.primary-btn:hover {
    background: #0da8e4;
    color: #fff
  }

.active-link {
  font-weight: bold;
}

/* 
 * ----------------------------
 * Footer section
 * ----------------------------
 */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #232324;
  color: white;
  text-align: center;
}

/* 
 * ----------------------------
 * Media Queries
 * ----------------------------
 */
@media (min-width:1200px) {
  .container {
    max-width: 1320px
  }
}

/* 
 * ----------------------------
 * Animations
 * ----------------------------
 */
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
