<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Action</th>
            <th>Url</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Source Code of Spring and Angular</td>
            <td><a href="https://github.com/ntammareddy" target="_blank">https://github.com/ntammareddy</a></td>
          </tr>
          <tr>
            <td>Get list of all Products</td>
            <td><a [href]="prod_productsListUrl" target="_blank">{{prod_productsListUrl}}</a></td>
          </tr>
          <tr>
            <td>Get list of all Product-Categories</td>
            <td><a [href]="cate_categoryListUrl" target="_blank">{{cate_categoryListUrl}}</a></td>
          </tr>
          <tr>
            <td>Get product with matching id </td>
            <td><a [href]="prod_findByIdUrl" target="_blank">{{prod_findByIdUrl}}</a></td>
          </tr>
          <tr>
            <td>Get all Products that belong to a particular category </td>
            <td><a [href]="prod_findByCategoryIdUrl" target="_blank">{{prod_findByCategoryIdUrl}}</a></td>
          </tr>
          <tr>
            <td>Get all Products whose Product_Name partially matches with the given keyword </td>
            <td><a [href]="prod_findByNameContainingUrl" target="_blank">{{prod_findByNameContainingUrl}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
